*.mp4
*.avi
*.pyc
output/
samples/
build/
log/
bone/あにまさ式ミク準標準ボーンout.json
work_dir/
checkpoints/
data/models/
data/network_weights
data/
*.npy
*.pkl
*.dat

lighttrack/logs/test_logs.txt
test.bat
ボーン定義.ods
.~lock.ボーン定義.ods#
.vscode/settings.json
*.egg
*.html
